/*Getting all variables in the same place*/
$text-color: #fff;
$primart-color: #000000;
$accent-color: #FF5B00;
$font-weights: (
    "regular": 400,
    "medium": 500,
    'bold': 700
);
$mobile: 800px;