@import './resets';
@import './variables';

/*Created this function for whole projects fonts*/
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

/*For not repeating. Especially flexbox or grid uses(changing column or row!!!). Mixin should define styles. */
@mixin flexcenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primart-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primart-color;
    color: $text-color;    
    font-weight: map-get($font-weights, bold);
}

.main {    
    @include flexcenter(row);
    /*Calc not needed in SASS*/
    width: 80% - 40%;
    margin: 0 auto;

    /*This one is called nesting*/
    #{&}__paragraph1 {
        font-weight: weight(bold);

        &:hover {
            color: pink;
        }
    }

    /*Extend feature gets all things + you can over write some new features*/
    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover {
            color: $accent-color;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}

/*You can just write true but defining makes it more identical*/
/*You can change the mode with true or false*/
.light {
    @include theme($light-theme: true);
}